<h2>Edit Movie</h2>
<form action="/movies/{{movie.id}}/edit" method="POST">
    <label>Title</label>
    <input type="text" name="title" value="{{movie.title}}">
    <label>Genre</label>
    <input type="text" name="genre" value="{{movie.genre}}">
    <label>Rating</label>
    <input type="text" name="plot" value="{{movie.plot}}">
     <label>Cast</label>
    <select name="cast">
        <option value="0">Select cast</option>
        {{#each celebrities}}
            {{#eq name ../movie.cast.name}}
            <option value="{{id}}" selected>{{name}}</option>
            {{else}}
            <option value="{{id}}">{{name}}</option>
            {{/eq}}
        {{/each}}
    </select>
    <button type="submit">Update movie</button>
</form>